body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 1400px;
    height: 1800px;
    background: #fff;
    font-family: sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    width: 1400px;
    height: 88px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 72px;
    padding: 32px 0px;
    width: 635px;
    height: 88px;
}
.nav-text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
    text-align: center;
    color: #000;
}
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 1400px;
    height: 1600px;
}
.content-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 88px 0px;
    width: 856px;
    height: 920px;
}
h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.35;
    text-align: center;
    color: #000;
}
.text-div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 40px 0px;
    width: 856px;
    height: 615px;
}
.text-one{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    color: #161616;
    font-weight: 600;
}
.text-two{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #161616;
}
.text-light-blue{
    color: #04959E;
}
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    padding: 10px;
    width: 165px;
    height: 64px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    padding: 10px 24px;
    width: 145px;
    height: 44px;
    background: #04959e;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    border: 0ch;
    text-align: center;
    color: #fff;
}
footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 1400px;
    height: 60px;
}
hr{
    width: 1400px;
    height: 1px;
    background: #161616;
}
.foter-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 234px;
    padding: 16px 0px;
    width: 146px;
    height: 59px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: right;
    color: #161616;
}